*{
    padding:0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(6, 135, 248);

}

#p{
padding-top:10em;


}
.elit{
display: flex;
padding:1.5em;
height:150px;
margin:auto;
width:80%;
justify-content: space-between;

border-radius:5em;
box-shadow:0px 1px 10px 5px rgba(0,0,0,.2);

}
.ora_elit{
width:200px;
height:150px;
border-radius:5em;
transition:.3s;
background-color: rgb(20, 20, 20);
box-shadow:0px 1px 10px 5px rgba(0,0,0,.2);

}
.ora_elit:hover{
transform:scale(1.2);
cursor:pointer;
}
span{
position:relative;
top:-30%;
color:rgb(228, 224, 9);
border-radius:1em;
width:100px;
font-size:1.5em;
text-align:center;
font-weight:bolder;
background:rgb(0, 216, 83);
padding:.2em;
transition:.3s;
}


.titles{
padding:1em;
font-weight:700;
font-size:1.2em;
cursor:pointer;
transition:.2s;
width:80%;
margin:auto;
}

.bodies{
padding:1em;
line-height: 1.5em;
text-align: justify;
text-indent: 1em;
background: rgb(189, 6, 6);
width:80%;
margin:5px auto;

}
